.login{
  padding: 150px 2% 0 2%;
  width: 96%;
  text-align: center;
}

.input-control{
  margin: 10px auto;
  width: 80%;
  height: 50px;
}

.input-control input{
  width: 98%;
  padding: 1%;
  outline:none;
  border:2px #f4f4f4 solid;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   color: #2c3e50;
   height: 30px;
   border-radius: 5px;
   background-color: transparent;
} 

.input-control input:focus{
  border:2px #58E481 solid;
  border-radius: 5px;
}

input:-webkit-autofill{
  -webkit-box-shadow : 0 0 0px 1000px white inset ;
}

.button-control{
  margin: 0 auto;
  width: 80%;
  height: 50px;
}

.button-control input{
  height: 30px;
  width: 100%;
  outline:none;
  border:0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   color: #fff;
   background-color: #58E481;
   border-radius: 5px;
   height: 40px;
}

h1{
  color: #58E481;
}