.usercenter{
	position: relative;
	top:60px;
	width: 100%;
}

.usercenter a{
	text-decoration: none;
	color: #2c3e50;
}

.user-style{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 90%;
	align-items: center;
	padding: 10px 5%;
	box-shadow: 10px 0 10px #ccc;
	cursor: pointer;
}

.userimg-style{
	width:30%;
}

.userimg-style img{
	width:70px;
	height: 70px;
	border-radius: 50%;
}

.username-plus{
	width:60%;
}

.btn-update{
	width: 10%;
}

.btn-update span{
	width: 100%;
	display: block;
	background-color: #58E481;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	color: #fff;
}

.mymess{
	width: 90%;
	margin-top:10px;
	padding: 10px 5%;
	box-shadow: 0px 0 2px #ccc;
	cursor: pointer;
}

.mymess img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.mymess span{
	margin-left:30%;
}

.mymess i{
	font-size: 1.2rem;
}

.input-control{
  margin: 10px auto;
  width: 80%;
  height: 50px;
}

.input-control input{
  width: 98%;
  padding: 1%;
  outline:none;
  border:2px #f4f4f4 solid;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   color: #2c3e50;
   height: 30px;
   border-radius: 5px;
   background-color: transparent;
} 

.input-control input:focus{
  border:2px #58E481 solid;
  border-radius: 5px;
}

input:-webkit-autofill{
  -webkit-box-shadow : 0 0 0px 1000px white inset ;
}

.button-control{
  margin: 0 auto;
  width: 80%;
  height: 50px;
}

.button-control input{
  height: 30px;
  width: 100%;
  outline:none;
  border:0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   color: #fff;
   background-color: #58E481;
   border-radius: 5px;
   height: 40px;
}
